.CelestialList {
  width: 90%;
  margin: auto;
}

.CelestialList-title {
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
