.Celestial-img {
  width: 90%;
  height: 30vh;
  object-fit: cover;
  padding-top: 5px;
  padding-bottom: 1px;
}

.cardId {
  text-align: center;
  background-color: var(--second-color);
  border-radius: 15px 15px 0px 0px;
  width: 90%;
}

.Celestial-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  color: var(--main-color);
  background-color: var(--second-color);
  border-radius: 0px 0px 15px 15px;
}

.Celestial-description span {
  font-size: 1.2em;
}
