@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --main-color: #0c51ab;
  --second-color: #868eba;
  --third-color: #f8f9ff;
  --fourth-color: #f1f1e6;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
a {
  font-family: Quicksand;
}

h2 {
  color: var(--main-color);
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 30px;
}

h3 {
  font-size: 25px;
}
